go 1.26.4

toolchain go1.26.4

use (
	./packages/bus/bus-go
	./packages/collection/collect-go
	./packages/concurrency/concurrency-go
	./packages/config/config-go
	./packages/cookie/cookie-go
	./packages/encryption/encryption-go
	./packages/events/events-go
	./packages/filesystem/filesystem-go
	./packages/hashing/hashing-go
	./packages/httppreview/httppreview-go
	./packages/httpx/httpx-go
	./packages/money/money-go
	./packages/queue/queue-go
	./packages/router/routegen-go
	./packages/router/routing-go
	./packages/session/session-go
	./packages/str/str-go
	./packages/tempo/tempo-go
	./packages/workflow/workflow-go
)
